---
layout: default
title: Virginia Alonso
---
  {% include base.html %}
  <p>Take this space as my mental canvas: a collection of essays, ideas and life updates.</p>

  <h1 class="content-listing-header sans">Stuff</h1>
  <ul class="content">
    {% for post in site.posts %}
      <li class="listing">
      	<a href="{{base }}{{ post.url }}"><h4 class="contrast">{{ post.title }}</h4></a>
      	<span class="smaller">{{ post.date | date: "%B %-d, %Y" }}</span>  <br/>
		<!-- <div>{{ post.excerpt }}</div> -->
		
      </li>
    {% endfor %}
  </ul>