<!--- Header and nav template site-wide -->
{% if page.layout == "default" %}
<div id="field"></div>
{% endif %}

<header>
  <nav class="group">
    <a href="{{base }}/">Home</a>
    <a href="{{base }}/about">About</a>
    <a href="{{base }}/art">Art</a>
  </nav>
  <div class="">
    <p><a href="{{base }}/" rel="me">Virginia Alonso</a></p>
    <p>I work at the intersection between data and development.{% if page.url != "/index.html" %}<span class="sidenote">Read more about my work <a href="{{ base }}/about">here</a></span>{% endif %} Product manager at<a href="https://aktisstrategy.com">Aktis</a>, <a href="https://www.ucl.ac.uk/basc">BASc</a> alum, and occasional illustrator.</p>
  </div>

</header>